.teste {
    margin: 50px;
    display: block;
  }

.teste-top {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  height: 25em;
}

.left {
  display:flex;
  flex-direction:row-reverse;
  height: 40em;
  width: 40em;
}

.left > .vertical > img {
  height: 7em;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.left > img {
  height: 24em;
  padding: 5px;
}

.right > h1 {
  padding: 50px 0px 20px;
}

.right > .side-by-side > .aaa > h4 {
  text-align: center;
}

.like {
  height: 1.5em;
}

.teste .teste-top .right button {
  border-radius: 50px;
  height: 40px;
  width: 170px;
  border: none;
}

.seleciona {
  color: #7A7575;
  background-color: #DCDBDB;
  margin-top: 20px;
}

.adiciona {
  color: white;
  background-color: #13368f;
}

.thumb {
  cursor: pointer;
  height: 40px;
  width: 40px;
  justify-content:right;
}

.teste-bottom {
  margin-top: 50px;
}

.price {
  font-size: 0.9em;
}

.product-name {
  font-weight: bolder;
  font-size: x-large;
}

.side-by-side {
  display: flex;
  flex-direction: row;
}

.aaa {
  display: block;
  padding: 20px;
}

.recomendados {
  padding: 20px 50px 0px 50px;
  padding-bottom: 50px;
  background-color: #C4C4C4;

  display: block;
}

.recomendados > .card {
  display: inline-block;
  padding-right: 70px;
}

.cards {
  width: 85%;
  margin: 10px auto;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  object-fit: cover;
}

.card > img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.price {
  font-size: 0.9em;
}